alabaster==0.7.10
algopy==0.5.3
appdirs==1.4.3
asn1crypto==0.24.0
astropy==2.0.9
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.4.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
binaryBHexp==1.0.1
bleach==2.0.0
cffi==1.11.5
Click==7.0
CommonMark==0.5.4
configparser==3.5.0
corner==2.0.1
cryptography==2.4.2
cycler==0.10.0
Cython==0.29.2
DateTime==4.3
decorator==4.0.11
docutils==0.13.1
dot2tex==2.9.0
dqsegdb2==1.0.1
emcee==2.2.1
entrypoints==0.2.2
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
george==0.3.1
gravpy
gwdatafind==1.0.4
gwosc==0.4.1
gwpy==0.14.0
h5py==2.7.0
-e git+git@git.ligo.org:daniel-williams/heron.git@0965d4d811bfb87cd08c32daac5bc861078bf02e#egg=heron
html5lib==0.999999999
idna==2.8
imagesize==0.7.1
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
Jinja2==2.9.6
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kombine==0.8.3
lalsuite==6.49
ligo-common==1.0.3
ligo-segments==1.1.0
ligotimegps==1.2.3
lscsoft-glue==1.60.0
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.0.0
-e git+git@git.ligo.org:daniel-williams/minke.git#egg=minke
mistune==0.8.1
more-itertools==4.3.0
mpld3==0.3
nbconvert==5.1.1
nbformat==4.3.0
nbsphinx==0.2.13
nestle==0.2.0
notebook==5.7.2
NRSur7dq2==1.0.5
numdifftools==0.9.20
numpy==1.15.4
numpydoc==0.6.0
packaging==16.8
palettable==3.1.1
pandas==0.19.2
pandocfilters==1.4.1
pathlib2==2.3.2
patsy==0.4.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pkg-resources==0.0.0
pluggy==0.8.0
prometheus-client==0.4.2
prompt-toolkit==1.0.15
psrqpy==0.6.3
ptyprocess==0.6.0
py==1.7.0
pybind11==2.2.4
PyCBC==1.13.2
pycparser==2.19
pyDOE==0.3.8
Pygments==2.2.0
-e git+git@git.ligo.org:gwinc/pygwinc.git@1bdd0c9eee1e41e4764f1ffe9de9b50285fe5699#egg=pygwinc
pymc3==3.6
pyOpenSSL==18.0.0
PyOrgMode==0.1
pyparsing==2.2.0
pytest==3.10.1
python-dateutil==2.6.0
python-frontmatter==0.4.2
pytz==2017.2
PyYAML==3.12
pyzmq==17.1.2
qgrid==1.1.1
qtconsole==4.4.2
recommonmark==0.4.0
requests==2.13.0
scandir==1.9.0
scikit-learn==0.20.3
scipy==0.19.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.5
subprocess32==3.2.7
surfinBH==1.0.2
terminado==0.8.1
testpath==0.3
Theano==1.0.3
-e git+git@github.com:transientlunatic/thesis.git@0ab0db0837f1dc7463d43b9d36c047b8cfd205df#egg=thesis
tornado==5.1.1
tqdm==4.11.2
traitlets==4.3.2
wcwidth==0.1.7
weave==0.16.0
webencodings==0.5.1
widgetsnbextension==3.4.2
zope.interface==4.6.0
